*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D0D0D;
}

.main {
    font-size: 2rem;
    color: #962D3E;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #962D3E;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.main > h1 {
    z-index: 1;
}

.counter-container {
    width: 80%;
    min-height: 250px;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.youtube-container,
.twitter-container,
.facebook-container,
.linkedin-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.fab {
    color: #962D3E;
    font-size: 3rem;
}

.amount {
    margin: .5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

@media(max-width: 950px) {
    .counter-container {
        grid-template-columns: repeat(2, 1fr);
    }
}